apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: dephealth-test
  labels:
    app: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  type: ClusterIP
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: dephealth-test
type: Opaque
stringData:
  password: dephealth-test-pass
