apiVersion: v1
kind: Service
metadata:
  name: vmalert
  namespace: dephealth-monitoring
  labels:
    app: vmalert
spec:
  type: ClusterIP
  selector:
    app: vmalert
  ports:
    - name: http
      port: 8880
      targetPort: 8880
