apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: dephealth-conformance
  labels:
    app: kafka
spec:
  selector:
    app: kafka
  ports:
    - port: 9092
      targetPort: 9092
      name: kafka
  type: ClusterIP
