apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: dephealth-monitoring
  labels:
    app: grafana
data:
  datasources.yml: |
    apiVersion: 1
    datasources:
      - name: VictoriaMetrics
        type: prometheus
        access: proxy
        url: http://victoriametrics:8428
        isDefault: true
        editable: true
        jsonData:
          timeInterval: "15s"
