apiVersion: v1
kind: Namespace
metadata:
  name: {{ include "dephealth-infra.namespace" . }}
  labels:
    {{- include "dephealth-infra.labels" . | nindent 4 }}
    app.kubernetes.io/component: infrastructure
