{{- if .Values.redis.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: {{ include "dephealth-infra.namespace" . }}
  labels:
    {{- include "dephealth-infra.labels" . | nindent 4 }}
    {{- include "dephealth-infra.selectorLabels" (dict "name" "redis") | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "dephealth-infra.selectorLabels" (dict "name" "redis") | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "dephealth-infra.selectorLabels" (dict "name" "redis") | nindent 8 }}
    spec:
      containers:
        - name: redis
          image: {{ include "dephealth-infra.image" (dict "registry" .Values.global.imageRegistry "image" .Values.redis.image "tag" .Values.redis.tag) }}
          ports:
            - containerPort: 6379
              name: redis
          readinessProbe:
            exec:
              command: ["redis-cli", "ping"]
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            exec:
              command: ["redis-cli", "ping"]
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            {{- toYaml .Values.redis.resources | nindent 12 }}
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ include "dephealth-infra.namespace" . }}
  labels:
    {{- include "dephealth-infra.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "dephealth-infra.selectorLabels" (dict "name" "redis") | nindent 4 }}
  ports:
    - port: 6379
      targetPort: redis
      name: redis
{{- end }}
